// ----- colors -----

$color-box: radial-gradient(
	circle,
	rgb(77, 77, 77) 0%,
	rgb(66, 65, 65) 50%,
	rgb(50, 50, 50) 100%
);
$color-dirtywhite: rgb(208, 207, 207);
$color-background: rgb(131, 129, 129);
$color-restaurantitem: rgb(84, 84, 84);
$btn-color: rgb(100, 99, 99);
$color-darkgrey: rgb(57, 57, 57);
$color-almostblack: rgb(33, 33, 33);
$color-inputs: rgb(217, 217, 217);
$color-mainblue: #65c8c8;
$color-heighaverage: rgb(143, 193, 143);
$color-lowaverage: rgb(227, 143, 137);
$box-shadow: 8px 8px 24px 0px rgba(91, 91, 91, 1);
$text-shadow: 5px 5px 5px rgb(61, 61, 61);

// ----- mixins -----
@mixin flex($display, $direction, $jst-c, $aln-it) {
	display: $display;
	flex-direction: $direction;
	justify-content: $jst-c;
	align-items: $aln-it;
}

// ----- settings -----
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	margin: 0 1em;
	font-family: "Montserrat", sans-serif;
	font-size: 1.2rem;
	background-color: $color-background;
}

@media (min-width: 576px) {
	body {
		font-size: 1.4rem;
	}
}

@media (min-width: 768px) {
	body {
		height: 100vh;
	}
}
