@media (min-width: 768px) {
	.about-me {
		height: 70vh;
		padding-left: 5em;

		&__photo {
			width: 70%;
			background-position-y: -50px;
		}

		&__text {
			top: 60%;
			left: 55%;
			width: 50%;
			padding-right: 5em;
		}
	}

	.nav {
		&-desktop {
			display: block;
		}
	}
}
