@media (min-width: 768px) {
	body {
		height: 100vh;
		font-size: 1.6rem;
	}

	.container {
		flex-direction: row;
		height: 100vh;
	}

	.add-restaurant {
		width: 45%;
	}

	.find-restaurant {
		height: calc(90% + 2em);
		width: 45%;
	}
}
